{% extends "base.html" %}
{% block content %}
<div class="flex-center">
  <div class="centered-label">burn after reading</div>
  <div class="centered-body">
    This paste will be <strong>permanently deleted</strong> the moment it is revealed.<br>
    You will not be able to view it again. Make sure nobody is looking over your shoulder.
  </div>
  {% if let Some(title) = title %}
  <div class="centered-body"><em>{{ title }}</em></div>
  {% endif %}
  <form action="/{{ id }}" method="post">
    <div class="controls">
      <input type="hidden" name="confirm_burn" value="1">
      <button class="button">reveal and burn</button>
      <a class="text-link" href="/">cancel</a>
    </div>
  </form>
</div>
{% endblock %}
